.content {
    position: absolute;
    top: 10%;
    left: 7%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 40px;
    color: #ecf0f1;
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 34px;
    padding: 0 20px;
}

.content__container:before {
    content: '[';
    left: 0;
}

.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
}

.content__container:after,
.content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 25px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
    color: red;
}

.content__container__list {
    margin-top: 0;
    padding-left: 87px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    color: red;
}

.content__container__list__item {
    line-height: 40px;
    margin: 0;
}

@-webkit-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-o-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-o-keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-moz-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}


/* ===================== Score============== */

@keyframes circle {
    from {
        transform: scale(3)
    }
    to {
        transform: scale(6)
    }
}

.score {
    position: absolute;
    top: 2%;
    right: 12%;
}

.circle {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 30%;
}

.one {
    animation: circle 4s infinite linear;
}

.two {
    animation: circle 3s infinite linear;
}

.three {
    animation: circle 2s infinite linear;
}