<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chủ đề phát âm</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
    <meta content="Bootstrap News Template - Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/Asset_Profile/assets/images/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="/static/Asset_Homepage/assets/asset_binh/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/Asset_Homepage/assets/asset_binh_2/lib/slick/slick.css" rel="stylesheet">
    <link href="/static/Asset_Homepage/assets/asset_binh_2/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/Asset_Homepage/assets/asset_binh_2/css/style.css" rel="stylesheet">
    <link href="/static/Asset_Homepage/assets/asset_binh/Fontawesome/css/all.css" rel="stylesheet">
</head>

<body>


    <!-- Top News Start-->
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6 tn-left">
                    <div class="row tn-slider">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/1.jpg" />
                                <div class="tn-title">
                                    <a href="/Exams">10 câu dễ phát âm nhất</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/2.jpg" />
                                <div class="tn-title">
                                    <a href="/Exams">10 câu khó phát âm nhất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 tn-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/8.jpg" style="height: 215px;" />
                                <div class="tn-title">
                                    <a href="/Exams">20 câu nói phổ biến ở Việt Nam</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/9.jpg" style="height: 215px;" />
                                <div class="tn-title">
                                    <a href="/Exams">19 câu nói đời thường nhất định phải biết</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/5.png" style="height: 215px;" />
                                <div class="tn-title">
                                    <a href="/Exams">Những câu nói đặc trưng của người miền Bắc</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/7.jpg" style="height: 215px;" />
                                <div class="tn-title">
                                    <a href="/Exams">Các từ nào phát âm khó nhất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top News End-->

    <!-- Category News Start-->
    <div class="cat-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Thể thao</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/tt1.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 1</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/tt2.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/tt3.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Xã hội</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/xh1.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 1</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/xh2.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/xh3.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category News End-->

    <!-- Category News Start-->
    <div class="cat-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Đồ vật</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/dv1.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 1</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/dv2.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/dv3.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Âm nhạc</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/an1.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 1</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/an2.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/an3.jpg" style="height: 200px;" />
                                <div class="cn-title">
                                    <a href="/Exams">Bài luyện tập 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category News End-->

    <!-- Tab News Start-->
    <div class="tab-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#featured">Bài học mới</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#popular">Bài học phổ biến</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#latest">Bài học hay</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="featured" class="container tab-pane active">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa1.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Phát âm cho người mới bắt đầu</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa2.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Phát âm giọng miền Bắc</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa3.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Phát âm giọng miền Nam</a>
                                </div>
                            </div>
                        </div>
                        <div id="popular" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa1.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">10 câu nói phổ biến nhất</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa2.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">12 câu nói thông dụng nhất</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa3.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">15 câu cửa miệng quen thuộc</a>
                                </div>
                            </div>
                        </div>
                        <div id="latest" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa1.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Nói cho nhau nghe</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa2.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Âm nhạc phát âm</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa3.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Nói như bình luận viên thể thao</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#m-viewed">Quan tâm nhất</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#m-read">Nhiều lượt học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#m-recent">Bình luận nhiều</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="m-viewed" class="container tab-pane active">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa4.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Học pháp luật qua phát âm</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa5.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Phát âm sao để chuẩn nhất</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa6.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Phát âm hay nhất</a>
                                </div>
                            </div>
                        </div>
                        <div id="m-read" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa4.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Bài tập luyện 5</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa5.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Bài tập luyện 7</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa6.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Bài tập luyện 8</a>
                                </div>
                            </div>
                        </div>
                        <div id="m-recent" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa4.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Bài tập luyện 9</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa5.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Bài tập luyện 10</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa6.jpg" style="height: 100px;" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Exams">Bài tập luyện 11</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab News Start-->

    <!-- Main News Start-->
    <div class="main-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/tt1.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Getting Starter 1</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/tt3.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Getting Starter 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/xh2.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Getting Starter 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/xh1.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Star Team 1</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/an1.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Star Team 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/an3.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Star Team 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa3.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Smart Choice 1</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa4.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Smart Choice 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="/static/Asset_Homepage/assets/asset_binh_2/img/pa6.jpg" style="height: 200px;" />
                                <div class="mn-title">
                                    <a href="/Exams">Bài tập phát âm Smart Choice 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="mn-list">
                        <h2>Bài khác</h2>
                        <ul>
                            <li><a href="/Exams">Bài tập phát âm số 1</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 2</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 3</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 4</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 5</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 6</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 7</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 8</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 9</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 10</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 11</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 12</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 13</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 14</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 15</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 16</a></li>
                            <li><a href="/Exams">Bài tập phát âm số 17</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News End-->



    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="/static/Asset_Homepage/assets/asset_binh/bootstrap-4.5.0-dist/js/jquery 3.5.0.js"></script>
    <script src="/static/Asset_Homepage/assets/asset_binh/bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/Asset_Homepage/assets/asset_binh_2/lib/easing/easing.min.js"></script>
    <script src="/static/Asset_Homepage/assets/asset_binh_2/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/Asset_Homepage/assets/asset_binh_2/js/main.js"></script>
</body>

</html>