<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>Audio Recognition Demo With Deep learning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<h1>ECOVISON ASR Collecting Data</h1>
	<div>
        <h2> List of commands for auto speech command recognition:</h2>
		<table style="width:100%">
            <tr>
              <th>Id</th>
              <th>Command</th>
              <th>Action</th>
            </tr>
            {% for key, value in list.items() %}
            <tr>
              <td>{{key}}</td>
              <td>
                  <pre>{{value}}</pre>
              </td>
              <td>
                  <div id = "collect">
                    <button id="collectBtn" name="{{key}}" class = "rb" onclick="collectButtonClicked()">Record</button>
                    <button id="cancelBtn" name="c{{key}}" class = "cb" onclick="cancelButtonClicked()" disabled>Cancel</button>
                    <p id = "status" name="s{{key}}"> Status </p>
                  </div>
              </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script src="/static/js/WebAudioRecorder.min.js"></script>
	<script src="/static/js/collect.js"></script>
</body>
</html>