{%extends "teachers_Layout.html"%}
{%block title%}
<title>Tạo bài kiểm tra - Giáo viên</title>
{%endblock%}

{% block content%}
<div class="col-9 grid-margin">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                Tạo bài kiểm tra
            </h1>
            <form action="" class="form-sample">
                <h3 class="card-description">
                    Thông tin bài kiểm tra
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        
                        <div class="form-group row">
                            <label for="" class="col-form-label">Chọn kiểu bài kiểm tra: </label>
                            <select name="type" id="type">
                                <option value="1">Giữa kỳ</option>
                                <option value="2">Cuối kỳ</option>
                                <option value="3">Tốt nghiệp</option>
                            </select>
                        </div>
                       
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Nhập số câu hỏi: </label>
                            <input type="number" name="quesNum" id="quesNum" class="form-control" required>
                        </div>
                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 1: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level1" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 2: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level2" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 3: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level3" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 4: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level4" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 5: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level5" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 6: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level6" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 7: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level7" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 8: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level8" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 9: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level9" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mức độ 10: </label>
                            <div class="col-sm-9">
                                <input type="number" name="levels[]" id="level10" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="" class="col-form-label col-sm-3">Số mã đề: </label>
                        <input type="number" name="codesNum" id="codesNum" class="form-control col-sm-6" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Chọn đối tượng làm bài: </h6>
                        {% for class in classes%}
                        <div class="form-group row">
                            <input type="checkbox" name="class[]" id="" class="col-md-1 checkbox" value="{{class[0]}}">
                            <label for="">{{class[1]}}</label>
                        </div>
                        {%endfor%}
                        <div class="form-group row">
                            <label class="col-sm-4
                                    col-form-label">Thời gian làm</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="" placeholder="Tính theo phút" id="time_ToDo" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4
                                    col-form-label">Thời hạn nộp bài</label>
                            <div class="col-sm-8">
                                <input type="datetime-local" class="form-control" id="time_Submit" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" id="btn_save">Lưu</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </form>
            <p>Đến trang <a href="{{url_for('teacher_collection')}}">Thống kê</a> để xem chi tiết</p>
        </div>
        
    </div>
    
</div>


{%endblock%}

{%block script%}
<script>
    $(document).ready(function() {
        var classes=[]
        $("input[name='class[]']").click(function(){
            classes.push($(this).val())
        })
        
        $("#btn_save").click(function() {
            let typeTest = $("#type").val();
            let quesNum = $("#quesNum").val()
            let codesNum = $("#codesNum").val()
            let time_ToDo=$("#time_ToDo").val();
            let time_Submit=$("#time_Submit").val();
            let levels = $("input[name='levels[]']").map(function(){
                return $(this).val()
            }).get();
            
            if (time_ToDo =="" || time_Submit ==""){
                alert("Yêu cầu nhập đủ thông tin");
                return;
            }
            let count=0;
            for (value of levels){
                if (value!=""){
                    count= count+Number(value);
                }
            }
            console.log("count",count)
            console.log(quesNum)
            if (count!=quesNum){
                    alert("Số câu hỏi từng mức độ chưa hợp lệ!");
                    return;
            }
            let info = {
                typeTest: typeTest,
                codesNum : codesNum,
                quesNum: quesNum,
                levels: levels,
                classes: classes,
                time_ToDo: time_ToDo,
                time_Submit: time_Submit  
            }
            $.ajax({
                url: '/createTests',
                type: 'post',
                data: {
                    info: JSON.stringify(info)                       
                },
                dataType: "json",
                success: function(res) {
                    if (res.status) {
                        alert("Giao bài thi thành công!");
                        window.location.reload();
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })
           
        });
        
    });
   
</script>
{%endblock%}