<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Web dạy tiếng việt</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/Asset_Homepage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/Asset_Homepage/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/Asset_Homepage/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/Asset_Homepage/assets/css/owl.css">
    <link rel="stylesheet" href="/static/Asset_Homepage/assets/css/lightbox.css">

</head>

<body>

    <!--header-->
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="/"><em>MTA</em> Center</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="#section1">Trang chủ</a></li>
                <li class="has-submenu"><a href="#section2">Về chúng tôi</a>
                    <ul class="sub-menu">
                        <li><a href="#section2">Chúng tôi là ai?</a></li>
                        <li><a href="#section3">Đăng ký ngay!</a></li>
                        <li><a href="https://templatemo.com/about" rel="sponsored" class="external">MTA</a></li>
                    </ul>
                </li>
                <li><a href="#">Bài kiểm tra</a></li>
                <li><a href="#" class="external">Ra đề</a></li>
                <li><a href="#section6">Liên hệ</a></li>
                <li><a href="/login">Đăng nhập</a></li>
            </ul>
        </nav>
    </header>

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
          <source src="/static/Asset_Homepage/assets/images/course-video.mp4" type="video/mp4" />
      </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Cải thiện phát âm Tiếng Việt tốt hơn với</h6>
                <h2><em>MTA</em> Center</h2>
                <div class="main-button">
                    <div class="scroll-to-section"><a href="#section2">Khám phá ngay</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->


    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="features-post">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-pencil"></i>Làm bài thi</h4>
                            </div>
                            <div class="content-hide">
                                <p>Làm các bài kiểm tra phát âm Tiếng Việt với trình độ từ dễ đến khó.</p>
                                <p class="">Các bài kiểm tra đã được các chuyên gia nghiên cứu phân loại.</p>
                                <div class="scroll-to-section"><a href="#">Làm ngay</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post second-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-graduation-cap"></i>Ra đề thi</h4>
                            </div>
                            <div class="content-hide">
                                <p>Sáng tạo ra những bộ đề của riêng bạn dành cho học sinh của mình.</p>
                                <p>Đa lĩnh vực, đa chủ đề thỏa sức sáng tạo.</p>
                                <div class="scroll-to-section"><a href="#section3">Ra đề ngay</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post third-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-book"></i>Hồ sơ cá nhân</h4>
                            </div>
                            <div class="content-hide">
                                <p>Lưu giữ thông tin cá nhân để theo dõi tiến độ học tập của bạn.</p>
                                <p class="">Hãy theo dõi tiến độ tích lũy từng ngày từng ngày một.</p>
                                <div class="scroll-to-section"><a href="#section4">Vào ngay</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section why-us" data-section="section2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Tại sao lại chọn MTA Center?</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id='tabs'>
                        <ul>
                            <li><a href='#tabs-1'>Nơi kiểm tra trình độ phát âm tốt nhất</a></li>
                            <li><a href='#tabs-2'>Bộ đề kiểm tra khoa học nhất</a></li>
                            <li><a href='#tabs-3'>Đội ngũ hỗ trợ tốt nhất</a></li>
                        </ul>
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/static/Asset_Homepage/assets/images/choose-us-image-01.png" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Nơi kiểm tra trình độ phát âm tốt nhất</h4>
                                        <p>MTA Center lập ra để giúp cho mọi người có thể phát âm Tiếng Việt một cách đúng và chuẩn xác nhất. Với những bề dày thành tích về đào tạo phát âm, bạn hãy tin tưởng MTA Center sẽ giúp bạn cải thiện trình độ phát
                                            âm của bạn.</p>
                                    </div>
                                </div>
                            </article>
                            <article id='tabs-2'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/static/Asset_Homepage/assets/images/choose-us-image-02.png" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Bộ đề kiểm tra khoa học nhất</h4>
                                        <p>Với sự giúp đỡ về kiến thức và chuyên môn của các chuyên gia tiếng Việt đầu ngành, chúng tôi mang đến cho bạn những bộ đè kiểm tra đẩy tính khoa học, khách quan, hợp lý, giúp bạn có thể cải thiện phát âm từ đơn
                                            giản đến phức tạp.</p>
                                    </div>
                                </div>
                            </article>
                            <article id='tabs-3'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/static/Asset_Homepage/assets/images/choose-us-image-03.png" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Đội ngũ hỗ trợ tốt nhất</h4>
                                        <p>"Muốn đi nhanh thì đi một mình, nếu muốn đi thật xa hãy đi cùng nhau". Các bạn trong quá trình học tập sẽ luôn luôn có đội ngũ hỗ trợ của chúng tôi theo dõi để luôn luôn sẵn sàng hỗ trợ cho các bạn về học tập. Hãy
                                            tự tin và trau đồi kiến thức ngay thôi nào!</p>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section coming-soon" data-section="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div class="continer centerIt">
                        <div>
                            <h4>Đăng ký <em>tài khoản ngay</em> để nhận được ưu đãi bất ngờ từ MTA Center</h4>
                            <div class="counter">

                                <div class="days">
                                    <div class="value">00</div>
                                    <span>Days</span>
                                </div>

                                <div class="hours">
                                    <div class="value">00</div>
                                    <span>Hours</span>
                                </div>

                                <div class="minutes">
                                    <div class="value">00</div>
                                    <span>Minutes</span>
                                </div>

                                <div class="seconds">
                                    <div class="value">00</div>
                                    <span>Seconds</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="right-content">
                        <div class="top-content">
                            <h6>Đăng ký tài khoản miễn phí và <em>và ngay lập tức</em> vào học luôn thôi nào!</h6>
                        </div>
                        <form id="contact" action="" method="get">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Họ tên" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="email" placeholder="Email" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Số điện thoại" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Đăng ký ngay</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section courses" data-section="section4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Chọn chủ đề</h2>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-01.jpg" alt="Course #1">
                        <div class="down-content">
                            <h4>Pháp luật</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Pháp luật</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-01.png" alt="Author 1">
                            </div>
                            <div class="text-button-pay">
                                <a href="#">Trả phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-02.jpg" alt="Course #2">
                        <div class="down-content">
                            <h4>Gia đình</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Gia đình</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-02.png" alt="Author 2">
                            </div>
                            <div class="text-button-free">
                                <a href="#">Miễn phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-03.jpg" alt="Course #3">
                        <div class="down-content">
                            <h4>Xã hội</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Xã hội</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-03.png" alt="Author 3">
                            </div>
                            <div class="text-button-pay">
                                <a href="#">Trả phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-04.jpg" alt="Course #4">
                        <div class="down-content">
                            <h4>Văn học</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Văn học</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-04.png" alt="Author 4">
                            </div>
                            <div class="text-button-free">
                                <a href="#">Miễn phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-05.jpg" alt="">
                        <div class="down-content">
                            <h4>Trái cây</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Trái cây</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-05.png" alt="">
                            </div>
                            <div class="text-button-pay">
                                <a href="#">Trả phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-01.jpg" alt="">
                        <div class="down-content">
                            <h4>Nhà trường</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Nhà trường</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-01.png" alt="">
                            </div>
                            <div class="text-button-free">
                                <a href="#">Miễn phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-02.jpg" alt="">
                        <div class="down-content">
                            <h4>Lịch sử</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Lịch sử</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-02.png" alt="">
                            </div>
                            <div class="text-button-free">
                                <a href="#">Miễn phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-03.jpg" alt="">
                        <div class="down-content">
                            <h4>Động vật</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Động vật</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-03.png" alt="">
                            </div>
                            <div class="text-button-pay">
                                <a href="#">Trả phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-04.jpg" alt="">
                        <div class="down-content">
                            <h4>Viễn tưởng</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Viễn tưởng</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-04.png" alt="">
                            </div>
                            <div class="text-button-pay">
                                <a href="#">Trả phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-05.jpg" alt="">
                        <div class="down-content">
                            <h4>Đồ vật</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Đồ vật</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-05.png" alt="">
                            </div>
                            <div class="text-button-free">
                                <a href="#">Miễn phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/Asset_Homepage/assets/images/courses-01.jpg" alt="">
                        <div class="down-content">
                            <h4>Xe cộ</h4>
                            <p>Học phát âm cơ bản cho người nước ngoài qua chủ đề <b>Xe cộ</b>.</p>
                            <div class="author-image">
                                <img src="/static/Asset_Homepage/assets/images/author-01.png" alt="">
                            </div>
                            <div class="text-button-pay">
                                <a href="#">Trả phí <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <section class="section video" data-section="section5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="left-content">
                        <span>our presentation is for you</span>
                        <h4>Watch the video to learn more <em>about Grad School</em></h4>
                        <p>You are NOT allowed to redistribute this template ZIP file on any template collection website. However, you can use this template to convert into a specific theme for any kind of CMS platform such as WordPress. You may <a rel="nofollow"
                                href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> for details.
                            <br><br>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>
                        <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <article class="video-item">
                        <div class="video-caption">
                            <h4>Power HTML Template</h4>
                        </div>
                        <figure>
                            <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="/static/Asset_Homepage/assets/images/main-thumb.png"></a>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </section> -->

    <section class="section contact" data-section="section6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Giữ liên lạc với chúng tôi</h2>
                    </div>
                </div>
                <div class="col-md-6">

                    <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->

                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Họ tên" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="Email" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Lời nhắn của bạn ..." required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="button">Gửi tin nhắn ngay</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div id="map">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6554349754865!2d105.78180671540252!3d21.046468592548386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3277f870d7%3A0xf27837785a779a8a!2zMjM2IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2sus!4v1615534428652!5m2!1sen!2sus"
                            width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-copyright"></i> Copyright 2021 by MTA Center | Design: <a href="#" rel="sponsored" target="_parent">Nhóm phát triển MTA</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/static/Asset_Homepage/vendor/jquery/jquery.min.js"></script>
    <script src="/static/Asset_Homepage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/Asset_Homepage/assets/js/isotope.min.js"></script>
    <script src="/static/Asset_Homepage/assets/js/owl-carousel.js"></script>
    <script src="/static/Asset_Homepage/assets/js/lightbox.js"></script>
    <script src="/static/Asset_Homepage/assets/js/tabs.js"></script>
    <script src="/static/Asset_Homepage/assets/js/video.js"></script>
    <script src="/static/Asset_Homepage/assets/js/slick-slider.js"></script>
    <script src="/static/Asset_Homepage/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                        scrollTop: reqSectionPos
                    },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function() {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function(e) {
            if ($(e.target).hasClass('external')) {
                return;
            }
            // e.preventDefault();
            $('#menu').removeClass('active');
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function() {
            checkSection();
        });
    </script>
</body>

</html>