{% extends "students_Layout.html"%}
{% block title%}
<title>Bài kiểm tra</title>
{%endblock%}
{% block style%}
    <style>
        button.btn a{
            color: #fff;
        }
    </style>
{%endblock%}
{% block content%}
<div class="col-9 grid-margin">
    <div class="card">
        <div class="card-body">
            <p class="card-title">Thống kê bài thi:</p>
            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên bài</th>
                            <th>Mã đề</th>
                            <th>Số câu</th>
                            <th>Thời gian làm bài</th>
                            <th>Thời hạn nộp</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in Tests%}
                        <tr>
                            <td class="testId">{{test[0]}}</td>
                            <td>{{test[1]}}</td>
                            <td class="code">{{test[2]}}</td>
                            <td>{{test[3]}}</td>
                            <td>{{test[4]}} phút</td>
                            <td>{{test[5]}}</td>
                            {% if test[6]=="Làm bài" %}
                            <td><button class="btn btn-info" id="{{test[0]}}_{{test[2]}}"><a href="{{url_for('Tests',testId=test[0],code=test[2])}}">{{test[6]}}</a></button></td>
                            {%elif test[6]=="Quá hạn"%}
                            <td style="color:red">{{test[6]}}</td>
                            {%else%}
                            <td>{{test[6]}}</td>
                            {%endif%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}


