<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Làm bài kiểm tra</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/Asset_Record/css/webtiengviet.css">
    <link rel="stylesheet" href="/static/Asset_Record/css/animation.css">
    <link rel="stylesheet" href="/static/Asset_Homepage/assets/asset_binh/bootstrap-4.5.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/Tests.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/Asset_Homepage/assets/asset_binh/bootstrap-4.5.0-dist/js/bootstrap.js"></script>
    <script src="/static/Asset_Homepage/assets/asset_binh/bootstrap-4.5.0-dist/js/popper.min.js"></script>
    <link rel="stylesheet" href="/static/Asset_Profile/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/Asset_Profile/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="/static/Asset_Profile/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/Asset_Profile/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/Asset_Profile/assets/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="/static/Asset_Profile/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/Asset_Profile/assets/css/demo_1/style.css">
   
    <script type="text/javascript">
        var sen_id = {{id_arr}};
        var username = {{studentCode}};
        var testId = {{testId}};
    </script>
    <script>
        $(document).ready(function(){
            $("#progress-container").css("display","none");
            $("#instructions").fadeIn("slow");
            $("#backgroundImg").css("display","none");
            var left =1;
            var right=10;
            $('#arrow_right').on('click', function(){
                if (right==total){
                    return;
                }
                else{
                    right++;
                    $('#ques_' + right).stop().fadeIn(1);
                    $('#ques_' + left).stop().fadeOut(1);
                    left++;
                }
            });
           
            $('#arrow_left').on('click', function(){
                if (left==1){
                    return;
                }
                else{
                    left--;
                    $('#ques_' + left).stop().fadeIn(1);
                    $('#ques_' + right).stop().fadeOut(1);
                    right++;
                }
            });

            var current = 1;
            var total = {{quesNum}};
            $(".show-ques").hide();
            if (current==1){
                $("#container_1").fadeIn("slow");
                // $("#ques_1").css("background-color","darkgoldenrod")
            }

            $(".ques-label").click(function(){
                let temp=$(this).attr("id");
                console.log("temp",temp);
                let id =temp.slice(temp.indexOf('_')+1)
                current=id;
                $(".show-ques").hide();
                $("#container_"+current).fadeIn("slow");
                // $("#ques_"+current).css("background-color","darkgoldenrod");
                
            })
            $(".ques-label").each(function(index,item){
                if ($("#colWav_"+index+">audio").length!=0){

                    $("#ques_"+index+1).css("background-color","darkgoldenrod");
                }
            })

            $(".ques-label").each(function(index,item){
                if ($("#colWav_"+index+">audio").length!=0){
                    $("#ques_"+index+1).css("background-color","darkgoldenrod");
                }
            })
            $(".next").click(function(){
                
                if (current==total) return;
                current++;
                
                console.log("curent",current)
                $(".show-ques").hide();
                $("#container_"+current).fadeIn("slow");
                
                });

                $(".previous").click(function(){
                    if (current==1) return;
                    current--;
                
                    console.log("curent",current)

                    $(".show-ques").hide();
                    $("#container_"+current).fadeIn("slow");
                    // $("#ques_"+current).css("background-color","darkgoldenrod")
                    // darkcyan
                })

                $(".stop").click(function(){
                    console.log("test");
                    let temp=$(this).attr("id");
                    let id =temp.slice(temp.indexOf('_')+1)
                    console.log(id);
                    id = Number(id)+1;
                    $("#ques_"+id).css("background-color","darkgoldenrod");
                    $("#ques_"+id).addClass("done");
                    console.log($("#ques_"+id+1))
                    make_progress();

                })

                function make_progress(){
                    list = $(".done");
                    count = list.length;
                    console.log("count",count)
                    
                    var percent = (count/sen_id.length)*100;
                    console.log($("#progress-bar"))
                    $("#progress-bar").css("width",""+percent+"%");
                    percent = Math.round(percent*100)/100;
                    console.log("percent",percent);
                    console.log(""+percent+"%")
                    $("#progress-bar").text(""+percent+"%");
                }

        });
    </script>
    
  
</head>

<body>
    <div id="backgroundImg" >
        <img src="/static/Asset_Record/img/background.jpg" alt="" id="bgImg" style="width: 100%;">
    </div>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <div id="instruction-container">
            <video playsinline autoplay muted loop id="instruction_background">
                <source src="/static/videos/hd0451.mp4" type="video/mp4">
            </video>
            
        </div>
        
        
       
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            
            <!-- partial:partials/_sidebar.html -->
            <div id="instructions" class="col-12" style="display:none">
                <div class="row" style="justify-content: center;">
                    <ul>
                        <li>
                            <h1>{{name}}</h1>
                        </li>
                        <li>
                            <h4>Thời gian làm bài: {{time_todo}} phút</h4>
                        </li>
                        <li>
                            <h4>Tổng số câu hỏi: {{quesNum}}</h4>
                        </li>
                    </ul>
                    
                </div>
                <div class="row">
                    <p id="instructions_">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste incidunt dolorum quibusdam sequi doloremque perferendis, illo repudiandae saepe itaque consectetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi repellat fugit, dolor id explicabo non?
                    </p>
                </div>
                <div class="row" style="justify-content: center;">
                    <button class="btn btn-danger" id="startBtn">Bắt đầu làm bài</button>
                </div>
                
            </div>
            <nav class="sidebar sidebar-offcanvas" id="sidebar" >
                <ul class="nav">
                    <li class="nav-item nav-profile" id="profileImg-container">
                        <img id="profileImg" src="/static/Asset_Profile/assets/images/faces/face_chibi.jpg" alt="profile image">
                        <div class="text-wrapper">
                        <p class="profile-name">{{fullname}}</p>

                        <form name="cd" id="left_time">
                            <label for="" style="width:80%"> Thời gian còn lại: </label>
                            <input id="txt" readonly="true" type="text" value="10:00" name="disp" style="border:0;color:red;">
                        </form>

                        <button type="submit" class="btn btn-danger"  id="uploadBtn">Nộp bài</button>
                            
                        </div>

                        

                    </li>
                    
                </ul>
            </nav>
            <div class="col-9">
                <div class="container" >
                    <div class="row">
                        <div class="col-md-12">
                            <div id="header" class="row" style="flex-wrap: nowrap; justify-content: space-around; text-align: center;margin-top:-35px">
                                <div class="arrow" id="arrow_left">
                                    <img src="/static/Asset_Record/img/arrow_left.png" alt=""style="width: 10px">
                                </div>
                                <ul id="questions-container" class="row">
            
                                    {%for i in range (0,quesNum)%}
                                    <li id="ques_{{i+1}}" class="ques-label col-1">Câu {{i+1}}</li>
                                    {%endfor%}
                                   
                                </ul>
                                <div class="arrow" id="arrow_right">
                                    <img src="/static/Asset_Record/img/arrow_right.png" alt=""style="width: 10px">
                                </div>
                                
                            </div>
                            <div class="progress" id="progress-container" style="margin-bottom:10px; height: 16px;">
                                <div id="progress-bar" class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="height: 16px;
                                    float: left;">
                                
                                </div>
                                <div class="clearFix" style="clear: both;"></div>
        
                            </div>
                            
                            <div id="test" style="display: none;">
                                {%for i in range(0,quesNum)%}                                   
                                <div class="show-ques" id="container_{{i+1}}">
                                    <div class="col-3 " style="margin-top:15px">
                                        <div class="hexagon">
                                            <h2 id="colId_{{i}}" class="colId ">{{i+1}}</h2>
                                        </div>
                                        <img src="/static/Asset_Record/img/teacher1.png" alt="" style="width: 350px">
                                       
                                    </div>
                                    <div class="col-9" style="margin-top: 15px;">
                                        <div class="content-container">
                                            <div id="colCau_{{i}}" class="colContent">
                                                {{content_arr[i]}}
                                            </div>
                                        </div>
                                        <div id="colControls_{{i}}" class="controls column3">
                                            <button class="previous btn btn-success" style="width:120px">Quay lại</button>
                                            <button id="recordButton_{{i}}" class="recordBtn btn btn-info" title="Record">Ghi âm</button>
                                            <button class="stop btn btn-info" id="stopButton_{{i}}" title="Stop" disabled>Dừng lại</button>
                                            <button class="next btn btn-success">
                                                Câu tiếp theo
                                            </button>
                                        </div>
                                        <div id="colWav_{{i}}" class="column4"></div>
                                    </div>

                                </div>

                                {%endfor%}
                                
                                </div>
                            </div>
            
                        </div>
                    </div>
            
                  
                </div>
                
              
            </div>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/recorder.js"></script>
    <script language="javascript">
        var time_start = "{{time_start}}";
        var time_todo = {{time_todo}};
        time_start = time_start.split(':')
        var h1 = Number(time_start[0]);
        var m1=Number(time_start[1]);
        var s1 = Number(time_start[2]);
        time1= h1*60*60+m1*60+s1;
        // Lấy Object ngày hiện tại
        var today = new Date();
        // Giờ, phút, giây hiện tại
        var h2 = today.getHours();
        var m2 = today.getMinutes();
        var s2 = today.getSeconds();
        time2=h2*60*60+m2*60+s2;
        var remain = time_todo*60-(time2-time1)
        if (remain<=0){
            alert("Thời gian làm bài của bạn đã hết!");
            window.location="/selectTests";        
        }   
        var mins
        var secs;
        // var time_todo = document.getElementById("time_todo").innerText
        time_todo_min= Math.floor(remain/60);
        time_todo_sec = remain%60;
        if (time_todo_sec <10){
            time_todo_sec = "0"+time_todo_sec;
        }
        time_todo=""+time_todo_min +":"+time_todo_sec;
        function cd() {
             mins = 1 * m(time_todo); // change minutes here
             secs = 0 + s(":01"); // change seconds here (always add an additional second to your total)
             redo();
        }
        
        function m(obj) {
             for(var i = 0; i < obj.length; i++) {
                  if(obj.substring(i, i + 1) == ":")
                  break;
             }
             return(obj.substring(0, i));
        }
        
        function s(obj) {
             for(var i = 0; i < obj.length; i++) {
                  if(obj.substring(i, i + 1) == ":")
                  break;
             }
             return(obj.substring(i + 1, obj.length));
        }
        
        function dis(mins,secs) {
             var disp;
             if(mins <= 9) {
                  disp = " 0";
             } else {
                  disp = " ";
             }
             disp += mins + ":";
             if(secs <= 9) {
                  disp += "0" + secs;
             } else {
                  disp += secs;
             }
             return(disp);
        }
        
        function redo() {
             secs--;
             if(secs == -1) {
                  secs = 59;
                  mins--;
             }
             document.cd.disp.value = dis(mins,secs); // setup additional displays here.
             if((mins == 0) && (secs == 0)) {
                  window.alert("Bạn đã hết thời gian làm bài"); // change timeout message as required
                  upload();
                  setTimeout(function(){ 
                    let temp=confirm("Tiếp tục các bài thi khác?");
                  if (temp==true){
                    window.location = "/selectTests";
                  }
                  else{
                    window.location = "/profile";
                  }
                   }, 2000);
                  
                  
             } else {
                 cd = setTimeout("redo()",1000);
             }
        }
        
        function init() {
          cd();
        }
        var startBtn = document.getElementById("startBtn");
        var test=document.getElementById("test");
        var divInstruction= document.getElementById("instructions");
        var videoBg=document.getElementById("instruction_background");
        var imgBg = document.getElementById("backgroundImg");
        var progress = document.getElementById("progress-container");
        startBtn.addEventListener("click", function(){

            test.style.display = "block";
            divInstruction.style.display="none";
            videoBg.style.display="none";
            imgBg.style.display="block";
            progress.style.display="block";
            init();
            var xhr1 = new XMLHttpRequest();
            xhr1.open("POST", '/test_time/{{testId}}', true);

            //Send the proper header information along with the request
            // xhr.setRequestHeader("Content-Type", "application/json");
            xhr1.onreadystatechange = function() { // Call a function when the state changes.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    // Request finished. Do processing here.
                }
            }
            xhr1.send();
        })

        var upBtn=document.getElementById("uploadBtn");
        upBtn.addEventListener('click',function(){
            let temp=confirm("Bạn chắc chắn muốn nộp bài?");
            if (temp==true){
                console.log("nộp bài")
                upload();
                setTimeout(function(){ 
                    let temp=confirm("Tiếp tục các bài thi khác?");
                  if (temp==true){
                    window.location = "/selectTests";
                  }
                  else{
                    window.location = "/profile";
                  }
                   }, 2000);

            }
            else{
                return;
            }
        })
       
        </script>
</body>

</html>